.dashboard-container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  margin: 10px;
  text-align: center;
}

.income-card {
  background-color: #e0f7fa;
}

.orders-card {
  background-color: #fce4ec;
}

.clients-card {
  background-color: #f3e5f5;
}

.events-card {
  background-color: #ffebee;
}

.charts {
  display: flex;
  justify-content: space-between;
}

.chart-container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
