/* Auth.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .auth-container {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .auth-container h1 {
    margin-bottom: 20px;
    color: #1A2275;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .auth-button {
    padding: 10px;
    font-size: 16px;
    background-color: #1A2275;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background-color: #131A58;
  }
  
  .auth-switch {
    margin-top: 20px;
  }
  
  .auth-switch a {
    color: #1A2275;
    text-decoration: none;
  }
  
  .auth-switch a:hover {
    text-decoration: underline;
  }