

.authenticated-layout {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 50px; /* Adjusted padding for spacing */
  margin-left: 150px; /* Adjusted for the sidebar width */
  transition: margin-left 0.3s ease;
  position: relative; /* Ensure it's properly positioned within the document flow */
}
